{{!-- <div>

  <h3 {{action 'toggleDetail'}}>{{post.title}}</h3>

  <p>
    {{post.content}}
  </p>


  {{blog-post/edit post=post updatePost='updatePost'}}
  {{!-- <button {{action 'deletePost'}}>Delete Post</button>
  <button {{action 'edit'}}>Edit Post</button> --}}


{{!-- </div> --}}
