
<div class='blogpost'>
  <h2 class='blog-post-title'>
    {{post.title}}
  </h2>
    {{show-user user=post.user}}
    <br><br>
  <p class='blog-post-content'>
    {{post.content}}
  </p>
</div>
<br><br>
<hr>
{{!-- <span>{{a-post post=post deletePost='deletePost'}}</span> --}}
{{#if post.editable}}
  <div class="post-edit-buttons">
    <input {{action 'toggleEditFormHide'}} type="button" id="edit-toggle-button" value="Edit Post">
    <span>{{a-post post=post deletePost='deletePost'}}</span>
  </div>
  <br>
  <br>
  <div class="edit-form">
    <h3 style="text-decoration:underline" class="edit-post">Edit Post</h3>
    <form {{action 'updatePost' on='submit'}}>
      <h5>Title:</h5>
      {{input value=post.title placeholder='Title'}}
      <br>
      <h5>Content:</h5>
      {{input value=post.content placeholder='Content'}}
      <br>
      {{!-- <span>{{a-post post=post deletePost='deletePost'}}</span> --}}

      <button class="submit" type="submit">Save</button>
      {{message}}
    </form>
  </div>
{{/if}}

<div class="dont-hide">

  {{new-comment post=post comment=comment createComment='createComment'}}

  <h4 class="comment-count">
    {{post.comments.length}}
    <span>Comments</span>
  </h4>
  <br><br>
  {{#each post.comments as |comment|}}
    {{blog-post/comment post=post comment=comment createComment='createComment'}}
  {{/each}}

</div>
