{{#if auth.isAuthenticated}}
<div class="create-button">
  <button class="create-post" {{action 'togglePostFormHide'}}>Add New Post</button>
</div>
  <form {{action 'createPost' on='submit'}}>
    <h4>New Post</h4>
    {{input value=newPost.title placeholder='Title'}}
    <br>
    {{input class="new-post-content" value=newPost.content placeholder='Content'}}
    <br>
    <button class="submit" type="submit">Add</button>
    {{message}}
  </form>
  {{else}}
  <h3 class="sign-in-post">Please Sign In to Post</h3>
{{/if}}
