<div>

  <h3>{{model.title}}</h3>

  <p>
    {{model.content}}
  </p>
  {{#if model.editable}}
    <button {{action 'delete' model}}>Delete</button>

    {{input value=model.title}}
    {{input value=model.content}}
    <button {{action 'edit' model}}>EDIT</button>
    {{log 'this is model' model}}
  {{/if}}

  {{!-- {{blog-post/edit post=post updatePost='updatePost'}} --}}
  {{!-- <button {{action 'deletePost'}}>Delete Post</button>
  <button {{action 'edit'}}>Edit Post</button> --}}


</div>
