<div>

  <h3>{{model.title}}</h3>

  <p>
    {{model.content}}
  </p>
{{log model}}
  <p>{{model.user}}</p>
  {{!-- {{blog-post/edit post=post updatePost='updatePost'}} --}}
  {{!-- <button {{action 'deletePost'}}>Delete Post</button>
  <button {{action 'edit'}}>Edit Post</button> --}}


</div>
